<nav class="navbar navbar-expand-lg fixed-top  px-5 " style="background-color: #e3e137;">
    <a class="navbar-brand" href="#">PujaCanada</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/customer/dashboard']"
                    routerLinkActive="router-link-active">UserDash</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e3e137;">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/customer/cart']"
                    routerLinkActive="router-link-active">Your-Cart</a>
            </li>
        </ul>
        <div class="mx-2">
            <!-- <button class="btn  btn-danger text-white mx-1" *ngIf="login()">Login</button> -->
            <div class="dropdown mr-5" *ngIf="!login()">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </button>
                <div class="dropdown-menu  text-center" aria-labelledby="dropdownMenuButton"
                    style="background-color: #e3e137;">
                    <a class="dropdown-item" [routerLink]="['/Admin']">Admin
                        Login</a>
                    <a class="dropdown-item" [routerLink]="['/customer/login']"
                        routerLinkActive="router-link-active">User Login</a>
                </div>
            </div>
            <button class="btn  btn-danger text-white mx-1" *ngIf="login()">LogOut</button>
        </div>

    </div>
</nav>