<div class="banner">
    <div class="container ">
        <!-- inner nav bar -->
        <!-- <div class="nav-scroller  fixed-top mt-5 m-auto" style="background-color: #e85d04; width: 65%;">
            <nav class="nav d-flex justify-content-center">
                <a class="p-2 link-secondary">Puja Services</a>
                <a class="p-2 link-secondary">Puja Products</a>
                <a class="p-2 link-secondary">traditional Puja wear's</a>
                <a class="p-2 link-secondary">gallery</a>
                <a class="p-2 link-secondary">help</a>
            </nav>
        </div> -->

        <!-- hero -->
        <main>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto col-img">
                        <h1 class="fw-light" style="font-style: italic;">Explore Our Sacred Offerings</h1>
                        <p class="lead text-muted" style="font-style: italic;">Welcome to your personalized dashboard!
                            Here, you can effortlessly
                            access our diverse range of spiritual services and products. Whether you're looking to book
                            a puja tailored to your needs, browse our curated collection of puja essentials, or find
                            traditional attire and accessories, everything you need is right here. Dive into your
                            spiritual journey with ease and enrich your rituals with our thoughtfully selected
                            offerings.</p>
                        <p>
                            <a href="#" class="btn btn-primary my-2">Book a Puja</a> &nbsp;
                            <a (click)="scrollToSection()" class="btn btn-secondary my-2">Shop Puja Essentials</a>
                        </p>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-light ">
                <div class="container">
                    <h1 class="text-center text-danger">Pooja Services</h1>
                    <div *ngIf="paginatedPujas.length === 0" class="text-center">
                        <!-- Loading Spinner -->
                        <div class="spinner-border text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="paginatedPujas.length != 0" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col" *ngFor="let puja of paginatedPujas">
                            <div class="card shadow-sm custom-card">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    [src]="getPujaImageUrl(puja.id)" alt="{{puja.name}}">
                                <div class="card-body">
                                    <p class="card-text">{{puja.description}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            Book Appointment
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- src/app/components/appointment-form/appointment-form.component.html -->
                                                        <div>
                                                            <form (ngSubmit)="createAppointment()">
                                                                <!-- Appointment Date -->
                                                                <div class="mb-3">
                                                                    <label for="appointmentDate"
                                                                        class="form-label">Appointment Date:</label>
                                                                    <input type="date" id="appointmentDate"
                                                                        class="form-control" name="appointmentDate"
                                                                        required>
                                                                    <div class="invalid-feedback">
                                                                        Please choose a valid appointment date.
                                                                    </div>
                                                                </div>

                                                                <!-- Appointment Time -->
                                                                <div class="mb-3">
                                                                    <label for="appointmentTime"
                                                                        class="form-label">Appointment Time:</label>
                                                                    <input type="text" id="appointmentTime"
                                                                        class="form-control" name="appointmentTime"
                                                                        placeholder="hh:mm AM/PM" required>
                                                                    <div class="invalid-feedback">
                                                                        Please enter a valid appointment time (e.g.,
                                                                        08:45 AM).
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-warning"
                                                                        data-bs-dismiss="modal">Create
                                                                        Appointment</button>
                                                                </div>

                                                            </form>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination d-flex justify-content-center mt-2">
                        <button class="btn btn-danger" (click)="previousPage()"
                            [disabled]="currentPage === 0">Previous</button>&nbsp;
                        <button class="btn btn-danger" (click)="nextPage()"
                            [disabled]="(currentPage + 1) * itemsPerPage >= pujas.length">Next</button>
                    </div>
                </div>
            </div>


            <div class="album py-5 bg-light mt-2" id="Puja_Products">
                <div class="container">
                    <h1 class="text-center text-danger">Pooja Products</h1>
                    <div *ngIf="paginatedproducts.length === 0" class="text-center">
                        <!-- Loading Spinner -->
                        <div class="spinner-border text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="paginatedproducts.length != 0" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col" *ngFor="let prod of paginatedproducts">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    [src]="getProductImageUrl(prod.id)" alt="{{prod.name}}" role="img">


                                <div class="card-body">
                                    <h3>{{prod.name}}</h3><span class="badge badge-danger">{{prod.discount}}% OFF</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-warning">
                                                CART</button>
                                            <button type="button" class="btn btn-sm btn-primary">
                                                WISHLIST</button>
                                        </div>
                                        <small
                                            class="text text-decoration-line-through  badge badge-warning">{{prod.price}}</small>
                                        <span class="badge badge-primary">
                                            <small class="text">{{prod.price-(prod.price*0.01*prod.discount) |
                                                number:'1.2-2'}} $/-</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Pagination for Products -->

                    <div class="pagination d-flex justify-content-center mt-2">
                        <button class="btn btn-danger" (click)="previousProductsPage()"
                            [disabled]="currentProductPage === 0">Previous</button>&nbsp;
                        <button class="btn btn-danger" (click)="nextProductsPage()"
                            [disabled]="(currentProductPage + 1) * ProductsperPage >= products.length">Next</button>
                    </div>
                </div>
            </div>


        </main>
    </div>



</div>