<div class="banner">
    <div class="container mt-5">
        <!-- inner nav bar -->
        <div class="nav-scroller  fixed-top mt-5 m-auto" style="background-color: #e85d04; width: 65%;">
            <nav class="nav d-flex justify-content-center">
                <a class="p-2 link-secondary">Puja Services</a>
                <a class="p-2 link-secondary">Puja Products</a>
                <a class="p-2 link-secondary">traditional Puja wear's</a>
                <a class="p-2 link-secondary">gallery</a>
                <a class="p-2 link-secondary">help</a>
            </nav>
        </div>

        <!-- hero -->
        <main>

            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Album example</h1>
                        <p class="lead text-muted">Something short and leading about the collection below—its contents,
                            the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over
                            it entirely.</p>
                        <p>
                            <a href="#" class="btn btn-primary my-2">Main call to action</a>
                            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                        </p>
                    </div>
                </div>
            </section>

            <div class="album py-5 bg-light ">
                <div class="container">
                    <h1 class="text-center text-danger">Pooja Services</h1>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/archana.jpg" alt="Archana Pooja" role="img">

                                <div class="card-body">
                                    <p class="card-text">Archana Pooja is a detailed prayer performed to invoke the
                                        blessings of the deity for personal or familial welfare.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/abhishekam.jpg" alt="Abhishekam" role="img">
                                <div class="card-body">
                                    <p class="card-text">Abhishekam is a ritual of bathing the deity with holy
                                        substances while chanting mantras to cleanse and purify.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/homam.jpg" alt="Abhishekam" role="img">

                                <div class="card-body">
                                    <p class="card-text">Homam is a fire ritual performed to invoke divine blessings and
                                        cleanse negative energies through sacred offerings.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/housewarming.jpg" alt="House Warming" role="img">

                                <div class="card-body">
                                    <p class="card-text">Housewarming pooja is conducted to purify the new home, drive
                                        away negative energies, and bring peace and prosperity.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/darshanam.jpg" alt="Darshanam" role="img">

                                <div class="card-body">
                                    <p class="card-text">Darshanam involves visiting the temple to receive the divine
                                        blessings and grace of the deity through sight.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/kalyanam.png" alt="kalyanam" role="img">

                                <div class="card-body">
                                    <p class="card-text">Kalyanam is a ceremonial wedding ritual performed for the deity
                                        to celebrate the divine union and blessings for marital bliss.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/navgraha.jpg" alt="Navagraha" role="img">

                                <div class="card-body">
                                    <p class="card-text">Navagraha pooja is performed to appease the nine celestial
                                        planets and mitigate the negative influences in one's life.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/kumkum.jpg" alt="Kumkum Archana" role="img">

                                <div class="card-body">
                                    <p class="card-text">Kumkum Archana is a special pooja where kumkum is offered to
                                        the deity, symbolizing auspiciousness and prosperity.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/asthi.jpg" alt="Asthi Pooja" role="img">

                                <div class="card-body">
                                    <p class="card-text">Asthi Pooja is a ritual performed to honor and provide a
                                        respectful farewell to the departed soul by immersing ashes in holy water.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="album py-5 bg-light mt-2">
                <div class="container">
                    <h1 class="text-center text-danger">Pooja Products</h1>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/coconut.jpg" alt="Coconut" role="img">

                                <div class="card-body">
                                    <p class="card-text">Coconut is used in various poojas and rituals, symbolizing
                                        purity, fertility, and prosperity.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/Deepam_oil.png" alt="Oil" role="img">


                                <div class="card-body">
                                    <p class="card-text">Deepam oil is essential for lighting lamps during poojas,
                                        symbolizing the dispelling of darkness and ignorance.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/deepam.jpg" alt="Deepalu" role="img">

                                <div class="card-body">
                                    <p class="card-text">Deepalu (lamps) are used in poojas to create a divine and
                                        peaceful ambiance, invoking blessings from the deity.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/dhoopsticks.jpg" alt="Dhoopsticks" role="img">


                                <div class="card-body">
                                    <p class="card-text">Dhoopsticks are burned during poojas for their fragrant smoke,
                                        which purifies the environment and pleases the deities.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/flowers.jpg" alt="Flowers" role="img">


                                <div class="card-body">
                                    <p class="card-text">Flowers are an integral part of poojas, offered to deities to
                                        show devotion and invoke blessings.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/othulu.jpg" alt="Othulu" role="img">


                                <div class="card-body">
                                    <p class="card-text">Othulu are commonly used in Hindu rituals for lighting diyas,
                                        symbolizing prosperity and used as offerings to deities</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/pasupu_kumkum.jpg" alt="Turmeric AND kumkum" role="img">


                                <div class="card-body">
                                    <p class="card-text">Turmeric and Kumkum are vital in Hindu rituals, symbolizing
                                        purity, prosperity, and auspiciousness.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/photo.jpg" alt="GodPhotoFrame" role="img">


                                <div class="card-body">
                                    <p class="card-text">God photo frames are used to create a divine presence in homes,
                                        enhancing spiritual connection during prayers and are must for any kind of puja
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                    src="../../../assets/puja_samagri.jpg" alt="Puja Kit" role="img">


                                <div class="card-body">
                                    <p class="card-text">Puja kits include all necessary items for performing various
                                        Hindu rituals, ensuring a complete and sacred pooja experience.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>



</div>