<!-- <div class=" vh-100" style="background-color: #FF9933;"></div> -->
<div class="banner">
    <main role="main">

        <div id="myCarousel" class="carousel slide pb-1" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide d-block w-100" src="../../../assets/courisal-1.jpeg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>Join the PujaCanada Community </h1>
                            <p>Join the PujaCanada Community Register with PujaCanada to access personalized spiritual
                                services, exclusive offers, and a wide range of authentic puja products. Become part of
                                our community dedicated to preserving and celebrating religious traditions.</p>
                            <p><a class="btn btn-lg btn-primary" [routerLink]="['/customer/login']"
                                    routerLinkActive="router-link-active" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="second-slide d-block w-100" src="../../../assets/courisal-2-2.jpeg" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Explore Our Sacred Collection</h1>
                            <p>Explore Our Sacred Collection Browse our gallery of authentic puja products and services.
                                Discover beautifully crafted idols, ritual items, and serene images of ceremonies
                                designed to elevate your spiritual journey.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Buy Now</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="third-slide d-block w-100" src="../../../assets/courisal-1-1.jpeg" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>Experience the Essence of Tradition</h1>
                            <p>Experience Tradition PujaCanada is your trusted partner in delivering authentic spiritual
                                experiences. We connect you with divine rituals and quality products, ensuring every
                                moment is sacred and meaningful.</p>
                            <p><a class="btn btn-lg btn-primary" href="#gallery" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row text-center">
                <div class="col-lg-4 custom-col-1">
                    <img class="rounded-circle" src="../../../assets/marketing-1.jpeg" alt="Generic placeholder image"
                        width="240" height="240">
                    <h2>Puja Services</h2>
                    <p>Book Trusted Puja Services Experience the divine with our expert puja services, tailored to meet
                        your spiritual needs. Whether you're looking for a simple home blessing or a grand festival
                        celebration, our team of experienced priests is here to guide you through every ritual with
                        precision and care. We offer a wide range of services, including Ganesha Puja, Satyanarayan
                        Katha, Lakshmi Puja, and more, all performed according to traditional Vedic customs. With
                        PujaCanada, you can book your puja services online and bring the sacred rituals directly to your
                        doorstep.</p>
                    <p><a class="btn btn-secondary" href="#pujaservice" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 custom-col-1">
                    <img class="rounded-circle" src="../../../assets/marketing-2.jpeg" alt="Generic placeholder image"
                        width="240" height="240">
                    <h2>Puja Products</h2>
                    <p>
                        <span>Discover Authentic Puja Products</span> At PujaCanada, we offer
                        a carefully curated selection of
                        high-quality puja products to enhance your spiritual rituals. From essential items like incense
                        sticks, diyas, and camphor to sacred idols, religious books, and puja thalis, we have everything
                        you need to perform your rituals with devotion and reverence. Each product is sourced with the
                        utmost care to ensure authenticity and purity, helping you create a sacred environment at home
                        or in your community. Browse our collection and make your puja experience complete.
                    </p>
                    <p><a class="btn btn-secondary" href="#pujaproducts" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 custom-col-1">
                    <img class="rounded-circle" src="../../../assets/marketing-3.jpeg" alt="Generic placeholder image"
                        width="240" height="240">
                    <h2>Divine Doorstep Delivery</h2>
                    <p>Reliable Puja Delivery Services At PujaCanada, we understand the importance of timely and
                        reliable service. Our dedicated delivery team ensures that all your puja-related products and
                        services arrive on time, allowing you to focus on your spiritual journey. Whether you're
                        ordering items for a puja or scheduling a service, we guarantee that everything will be
                        delivered to your specified location with the utmost care. Trust PujaCanada to bring the divine
                        to you, wherever you are in Canada.</p>
                    <p><a class="btn btn-secondary" href="#pujashop" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette" id="pujaservice">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Experience Divine Rituals. <span class="text-muted">Personalized for
                            You</span></h2>
                    <p class="lead">At PujaCanada, we specialize in bringing the sacred rituals of Hindu tradition right
                        to your doorstep. Our dedicated team of experienced priests is committed to performing a wide
                        range of pujas tailored to meet your specific spiritual needs. Whether you’re celebrating a
                        housewarming, a major festival, or a special personal ceremony, we ensure that each puja is
                        conducted with the utmost respect, precision, and adherence to traditional practices. Our
                        services are designed to create an authentic spiritual experience that deeply connects you with
                        the divine.

                        We understand that every occasion is unique, which is why we offer customized puja services that
                        cater to your individual requirements. From setting up a ceremonial space with traditional items
                        like havan kunds (fire altars), flowers, and sacred idols, to guiding you through the rituals
                        and prayers, our goal is to provide a meaningful and uplifting experience. Trust PujaCanada to
                        handle all the details with care, so you can focus on the spiritual significance of your
                        celebration. Allow us to bring the essence of devotion and reverence to your home, enriching
                        your spiritual journey and enhancing your connection with the divine.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                        src="../../../assets/feature-1.jpeg" data-holder-rendered="true"
                        style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette" id="pujaproducts">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Authentic Puja Essentials. <span class="text-muted">Crafted with
                            Care.</span></h2>
                    <p class="lead">Discover PujaCanada’s exclusive range of puja products, thoughtfully curated to
                        support and enhance your spiritual practices. We offer an extensive selection of high-quality
                        items, including sacred idols, beautifully crafted puja thalis (plates), fragrant incense
                        sticks, and revered holy books. Each product is meticulously handpicked to ensure it meets the
                        highest standards of authenticity and purity, allowing you to perform your rituals with
                        confidence and reverence.

                        Our collection is designed to cater to both traditional and modern needs, ensuring that every
                        item you choose contributes to the sanctity and effectiveness of your puja. Whether you’re
                        preparing for a grand celebration or a simple personal ritual, our products are crafted to bring
                        the essence of tradition and spirituality into your home. Shop with PujaCanada and experience
                        the convenience of having your puja essentials delivered directly to you, ready to use for your
                        sacred practices. Embrace the richness of tradition and elevate your spiritual rituals with our
                        exclusive puja products.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                        src="../../../assets/feature-2jpeg.jpeg" data-holder-rendered="true"
                        style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette" id="pujashop">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Sacred Attire & Accessories <span class="text-muted">Designed for
                            Devotion</span></h2>
                    <p class="lead">Enhance your spiritual journey with PujaCanada’s collection of sacred attire and
                        accessories. Our range includes traditional clothing such as sarees, dhotis, and kurtas, each
                        designed with respect for cultural and spiritual significance. Complement your attire with our
                        selection of sacred jewelry, including malas (prayer beads) and bangles, all crafted to honor
                        the rituals and enhance your devotional experience.

                        Each piece in our collection is carefully selected to ensure it aligns with the sacred
                        traditions and customs of Hindu practices. Our goal is to provide you with garments and
                        accessories that not only meet your spiritual needs but also offer comfort and elegance. Whether
                        you’re preparing for a special puja, a festive occasion, or daily worship, PujaCanada’s attire
                        and accessories are designed to help you connect deeply with your faith and traditions. Dress
                        for devotion with our thoughtfully chosen collection and experience a heightened sense of
                        spiritual connection.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                        src="../../../assets/feature-3.jpeg" data-holder-rendered="true"
                        style="width: 500px; height: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <!-- <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer> -->

        <!-- gallery -->

        <div class="album py-5 " id="gallery">
            <div class="container">
                <h1 class="text-center">Our Gallery</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img1.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book
                                            Appointment</button>
                                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img2.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img3.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img4.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img5.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img6.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img7.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img8.jpg"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../../assets/img9.avif"
                                style="height: 225px; width: 100%; display: block;">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>